@import "media.scss";
@import "variables.scss";

html, body {
    padding: 0;
    margin: 0;
    background-color: $off-white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    background-color: $off-white;
    padding: 0.5rem 0;
    right: 0;
    left: 0;
    border: 1px solid $black;
    font-size: 1rem;
    span {
        margin: 0 1.5rem;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

#content {
    > div:first-of-type {
        padding-top: 1.5rem;
    }
    > div:not(:first-of-type) {
        border-top: 1px solid $grey;
    }
    div {
        max-width: 100%;
        img {
            width: 100%;
            max-width: 800px;
        }
        h2, h3 {
            padding: 0 0.5rem;
        }
        p {
            padding: 0 1rem;
        }
    }
}
